@import 'tailwindcss';
@import './styles/globals.css';

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/PretendardVariable.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@source './**/*.{ts,tsx,js,jsx}';

/* web 앱에만 필요한 스타일이 있다면 여기에 추가합니다 */
body {
  font-family:
    'Pretendard',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;

  @apply bg-grey-25;
}
