/* 타이포그래피 유틸리티 클래스 */
@utility text-title-4xl-bold {
  font-size: 32px;
  font-weight: 700;
}

@utility text-title-4xl-semibold {
  font-size: 32px;
  font-weight: 600;
}

@utility text-headline-3xl-regular {
  font-size: 24px;
  font-weight: 400;
}

@utility text-headline-3xl-medium {
  font-size: 24px;
  font-weight: 500;
}

@utility text-headline-3xl-semibold {
  font-size: 24px;
  font-weight: 600;
}

@utility text-headline-2xl-regular {
  font-size: 22px;
  font-weight: 400;
}

@utility text-headline-2xl-medium {
  font-size: 22px;
  font-weight: 500;
}

@utility text-headline-2xl-semibold {
  font-size: 22px;
  font-weight: 600;
}

@utility text-body-xl-regular {
  font-size: 20px;
  font-weight: 400;
}

@utility text-body-xl-medium {
  font-size: 20px;
  font-weight: 500;
}

@utility text-body-xl-semibold {
  font-size: 20px;
  font-weight: 600;
}

@utility text-body-lg-regular {
  font-size: 18px;
  font-weight: 400;
}

@utility text-body-lg-medium {
  font-size: 18px;
  font-weight: 500;
}

@utility text-body-lg-semibold {
  font-size: 18px;
  font-weight: 600;
}

@utility text-body-md-regular {
  font-size: 16px;
  font-weight: 400;
}

@utility text-body-md-medium {
  font-size: 16px;
  font-weight: 500;
}

@utility text-body-md-semibold {
  font-size: 16px;
  font-weight: 600;
}

@utility text-caption-sm-regular {
  font-size: 14px;
  font-weight: 400;
}

@utility text-caption-sm-medium {
  font-size: 14px;
  font-weight: 500;
}

@utility text-caption-sm-semibold {
  font-size: 14px;
  font-weight: 600;
}

@utility text-caption-xs-meidum {
  font-size: 12px;
  font-weight: 500;
}
